<header id="header">
    <div class="inner">
        <a [routerLink]="['/home']" class="logo">Of Ash and Fire</a>
        <nav id="nav">

            <a [routerLink]="['/home']">
                <span class='glyphicon glyphicon-home'></span> Home
            </a>

            <a [routerLink]="['/projects']">
                <span class='glyphicon glyphicon-education'></span> Projects
            </a>

            <a [routerLink]="['/blog']">
                <span class='glyphicon glyphicon-th-list'></span> Blog
            </a>
            <a [routerLink]="['/bio']">
                <span class='glyphicon glyphicon-th-list'></span> Bio
            </a>
            <a [routerLink]="['/contact']">
                <span class='glyphicon glyphicon-th-list'></span> Contact Me
            </a>

        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>