<nav-menu></nav-menu>
<section id="banner">
    <h1>Welcome</h1>
    <p>This is Web Development in the Real World</p>
</section>
<section id="one" class="wrapper">
    <header class="align-center">
        <h2>Recent Articles</h2>
        <p>Talking about all my hobbies</p>
    </header>
    <div class="inner">
        <div class="flex flex-3">
            <article *ngFor="let post of posts; let i = index">
                <header>
                    <h3>{{post?.title}}</h3>
                </header>
                <div class="image fit">
                    <img [src]="post.thumbnail" [alt]="post?.title">
                </div>
                <footer>
                    <a [routerLink]="['/blog',i]" class="button special">More</a>
                </footer>
            </article>
        </div>
    </div>
</section>

<section id="two" class="wrapper style1 special">
    <div class="inner">
        <header>
            <h2>Projects</h2>
            <p>Look what i can do!</p>
        </header>
        <div class="flex flex-4">
            <div class="box person">
                <div class="image round">
                    <img src="/images/pic03.jpg" alt="Person 1" />
                </div>
                <h3>Magna</h3>
                <p>Cipdum dolor</p>
            </div>
            <div class="box person">
                <div class="image round">
                    <img src="/images/pic04.jpg" alt="Person 2" />
                </div>
                <h3>Ipsum</h3>
                <p>Vestibulum comm</p>
            </div>
            <div class="box person">
                <div class="image round">
                    <img src="/images/pic05.jpg" alt="Person 3" />
                </div>
                <h3>Tempus</h3>
                <p>Fusce pellentes</p>
            </div>
            <div class="box person">
                <div class="image round">
                    <img src="/images/pic06.jpg" alt="Person 4" />
                </div>
                <h3>Dolore</h3>
                <p>Praesent placer</p>
            </div>
        </div>
    </div>
</section>